  
  .pyg_view{
    padding: 10px;
  }

  .vcode-row{
    position: relative;
    #vcode_btn{
      position: absolute;
      right: 10px;
      top: 0;
      /* 由内容撑开 */
      width: auto;
    }
  }

  .pyg_btns{
    display: flex;
    margin-top: 10px;
    button{
      flex: 1;
      padding: 10px;
      font-size: 14px;
    }
  }