<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <title>首页</title>
  <link rel="stylesheet" href="./lib/mui/css/mui.css">
  <link rel="stylesheet" href="./lib/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/index.css">
</head>

<body>
  <!-- 头部 -->
  <header class="pyg_search">
    <div class="mui-input-row mui-search">
      <input type="search" class="mui-input-clear" placeholder="">
    </div>
  </header>
  <!-- 内容 -->
  <div class="pyg_view">
    <!-- 轮播图 -->
    <div class="pyg_slides">
      <div class="mui-slider">
        <!-- 轮播图图片 -->

        <!-- 索引器 -->

      </div>
    </div>
    <!-- 首页导航 -->
    <nav class="pyg_nav"></nav>

    <!-- 商品列表 -->
    <div class="pyg_list"></div>
  </div>
  <!-- 尾部 -->
  <footer class="pyg_link">
    <a href="./index.html">
      <span class="fa fa-home"></span>
      <p>首页</p>
    </a>
    <a href="./pages/category.html">
      <span class="fa fa-list-ul"></span>
      <p>分类</p>
    </a>
    <a href="./pages/cart.html">
      <span class="fa fa-shopping-cart"></span>
      <p>购物车</p>
    </a>
    <a href="./pages/user.html">
      <span class="fa fa-user"></span>
      <p>我的</p>
    </a>
  </footer>
</body>

<!-- 模板 -->
<!-- 轮播图 -->
<script id="swiDataTpl" type="text/html">
  <!-- 轮播图 -->
  <div class="mui-slider-group mui-slider-loop">
  
      <!--支持循环，要求图片是数组里面最后一项-->
      <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="{{arr[arr.length-1].image_src}}" /></a></div>
      {{each arr value index }}
      <div class="mui-slider-item"><a href="#"><img src="{{value.image_src}}" /></a></div>
      {{/each}}
      <!--支持循环， 数组的第一项！！！-->
      <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="{{arr[0].image_src}}" /></a></div>
    </div>
    <!-- 索引器 -->
    <div class="mui-slider-indicator">
        {{each arr value index }}
        {{if index==0}}
        <div class="mui-indicator mui-active"></div>
        {{/if}}

        {{if index!=0}}
        <div class="mui-indicator"></div>
        {{/if}}

        {{/each}}
      </div>
</script>

<!-- 首页导航 -->
<script id="navTpl" type="text/html">
  {{each arr value index}}
  <a href="javascript:;">
    <img src="{{value.image_src}}" alt="">
  </a>
  {{/each}}
 </script>

<!-- 商品的列表 -->
<script id="goodsTpl" type="text/html" >
  {{each arr value index}}
  <div class="goods_group">
      <!-- 大标题 -->
      <div class="gg_title">
        <img src="{{value.group_img}}" alt="">
      </div>
      <!-- 商品 -->
      <ul class="goods_list">
        {{each value.goods value2 index2 }}
        <li>
          <a class="goods_info" href="pages/good_detail.html?goods_id={{value2.goods_id}}">
            <img data-lazyload="{{value2.goods_small_logo}}" alt="">
            <div class="goods_name">{{value2.goods_name}}</div>
            <div class="goods_price">￥{{value2.goods_price}}</div>
          </a>
          <a href="pages/good_list.html?cid={{value2.cat_id}}" class=" goods_like  mui-btn mui-btn-primary mui-btn-outlined">找相似</a>
        </li>
        {{/each}}
      </ul>
    </div>
  
  {{/each}}
</script>
<!-- 模板 -->

<script src="./lib/mui/js/mui.js"></script>
<script src="./lib/mui/js/mui-lazyload.js"></script>
<script src="./lib/mui/js/mui-lazyload.img.js"></script>
<script src="./lib/arttemplate/template-web.js"></script>
<script src="./lib/zepto/zepto.js"></script>
<script src="./js/common.js"></script>
<script src="./js/index.js"></script>

</html>